 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1407px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 614px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 305px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-1 {
  width: 202px;
  height: 202px;
  background-image: url("images/pexels-samad-ismayilov-804009.jpg");
  background-position: 50% 50%;
  margin: -101px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px 20px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 614px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-group-2 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-2 {
  width: 202px;
  height: 202px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/3116825/images/pexels-christina-morillo-1181742.jpg");
  background-position: 50% 50%;
  margin: -101px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-1 .u-social-icons-2 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 31px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 310px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-3 {
  width: 202px;
  height: 202px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/3116825/images/pexels-photo-1181424.jpeg");
  background-position: 50% 50%;
  margin: -101px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 16px 20px 0;
}

.u-section-1 .u-social-icons-3 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-group-4 {
  min-height: 295px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-4 {
  width: 202px;
  height: 202px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/3116825/images/pexels-photo-2698465.jpeg");
  background-position: 50% 50%;
  margin: -101px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-1 .u-social-icons-4 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 31px auto 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  min-height: 310px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-5 {
  width: 202px;
  height: 202px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/54ee6b54e4b094722873774d/5a6bf40b-1dbe-4db1-9901-e071a1f5407e/430.jpg?format=1000w");
  background-position: 50% 50%;
  margin: -101px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 16px 20px 0;
}

.u-section-1 .u-social-icons-5 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-text-10 {
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 609px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 609px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 516px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 526px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 556px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 605px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}